<!DOCTYPE html>
<html>
<head>
	<title>USC</title>
	<link rel='icon' type='image/x-icon' href='favicon.ico'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Major+Mono+Display&display=swap" rel="stylesheet">
	<style>
		body{
			/* background: url("https://images.unsplash.com/photo-1461958508236-9a742665a0d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80"); */
			background-image: url("https://www.rd.com/wp-content/uploads/2018/01/02-top-8-sleep-sounds-for-a-better-night-s-rest-1024x683.jpg");
			background-size: cover;
			background-position: center;
			font-family: Lato;
			color:white;
			height:100%;
		}
		h1{
			text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		}
		html{
			height:100%;
		}
		#landing-header{
			z-index: 1; 
			position: relative; 
			text-align: center; 
			padding-bottom: 19vh;
			padding-top: 19vh;
		}

		.home-title{
			z-index: 1; 
			position: relative; 
			text-align: center; 
			padding-top: 0vh;
			color: white;
			font-family: 'Major Mono Display', monospace;
			outline-width: 0;
			font-size: 8rem;
		}

		.btn {
    	font-family: 'Major Mono Display', monospace;
		color: #0f53a6;
		}
	</style>
</head>
<body >

	<div class="home-title">
		URBAN SOUND
	</div>
	<div id="landing-header">
		<a href="/images" class="btn btn-lg btn-light">Sound Board</a>
	</div>
	<div class="home-title">
		CLASSIFIER 
	</div>
	
</body>
</html>
