<% include ../partials/header %>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Major+Mono+Display&display=swap" rel="stylesheet">
  <style>
    .jumbotron{
      background-color: #0f53a6;
      color: #22c6fd;
      font-family: 'Major Mono Display', monospace;
      text-align: center;
      padding-bottom: 10px;
      border-radius: 0 !important;
    }

    .upload-btn{
      background-color: #22c6fd;
      color: #0f53a6;
      border: none;
      margin-top: 4rem;
      margin-bottom: 1rem;
    }

    .title{
      font-size: 5rem;
    }

    .img-fluid{
      height: 165px;
      width: 290px;
    }
  </style>
</head>
    <div class="jumbotron">
      <h1 style="text-align: center;" class="title">SOUND BOARD</h1>
      <p>
        <a href="/images/new" class="btn btn-lg btn-success upload-btn">Upload</a>
      </p>
    </div>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
      <% images.forEach(function(image){ %>
        <% if(image.img_public){%>
          <div class="col-md-4 col-sm-6 ">
            <div class="thumbnail">
              <img class="img-fluid img-thumbnail rounded mx-auto d-block" alt="Responsive image" src="/images/class_photos/<%=image.img_caption.slice(1,-2)%>.jpg">
              <audio controls style="margin-top: 5px;">
                <source src="<%=image.img_path %>" type="audio/wav">
                Your browser does not support the audio element.
              </audio>
              <div class="caption">
                <h4><%=image.img_caption.slice(1,-2)%></h4>
              </div>
              <p>
                <a href="/images/<%=image._id%>" class="btn btn-sm btn-success">Show Details</a>
              </p>
            </div>
          </div>
        <%}%>
      <%});%>	
    </div>
<% include ../partials/footer %>