<% include ../partials/header %>

<head>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Major+Mono+Display&family=Montserrat&display=swap" rel="stylesheet">
	<style>
	  .jumbotron{
		background-color: #22c6fd;
		/* color: #22c6fd; */
		font-family: 'Major Mono Display', monospace;
		/* text-align: center; */
		padding-bottom: 25px;
		border-radius: 0 !important;
	  }
  
	  .upload-btn{
		background-color: #22c6fd;
		color: #0f53a6;
		border: none;
		margin-top: 2rem;
		margin-bottom: 1rem;
	  }
  
	  .title{
		font-size: 3rem;
		padding-top: 1rem;
		color: #0f53a6;
		font-family: 'Major Mono Display', monospace;


	  }

	  body{
		  background-color: #0f53a6;
	  }

	  .upload-box{
		  text-align: center;
	  }

	  .public-switch{
		  padding-top: 2rem;
		  padding-bottom: 2rem;
	  }

	  .new-file{
		  font-family: 'Montserrat', sans-serif;
		  color: white;
	  }
	</style>
  </head>
  <body>

	<div class="title jumbotron">
		<h1 style="text-align: center;" class="title">URBAN SOUND CLASSIFIER</h1>
	</div>
	<div class="upload-box">
		<div class="row">
			<div class="col-lg-12">
				<div style="width:40%; margin:25px auto; padding: 10px;" class="new-file">
					<h1 style="text-align: center; padding-bottom: 3rem;">Upload New Sound File</h1>
						<form action="/images" method="post" enctype="multipart/form-data">
							<div class="form-group">
								<!-- <label for="img" ><strong>Upload Sound:</strong> </label> -->
								<input id="img" type="file" accept="audio/*" name="photo" style="width:220px; text-align: center;">
							</div>
							<div class="custom-control custom-switch public-switch">
								<input type="checkbox" class="custom-control-input" id="customSwitch1" name="public" checked>
								<label class="custom-control-label" for="customSwitch1"><strong>Make Public</strong></label>
							</div>
							<div>
								<button class="btn btn-primary upload-btn">Classify!</button>
							</div>
						</form>
				</div>
			</div>
		</div>
	</div>
	  
  </body>
<% include ../partials/footer %>
